*.o
*.asm
*.sym
_*
*.blend1
*.out
*.stl
*.dblite
*.bin
*.hex
*.gcode
*.img
xv6-riscv/xv6.kernel
xv6-riscv/kernel/kernel
xv6-riscv/mkfs/mkfs
xv6-riscv/user/initcode
xv6-riscv/user/usys.S
*.readelf
*.elf
*.d
*.asc
*.json
*.vcd
